<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全名</title>
    <script src="../lib/vue.min.js" ></script>
    <script src="../lib/vue-resource.min.js" ></script>
    <script src="../lib/vue-router.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap.css">
</head>
<body>

    <div id = "app">
        <input type="text" v-model="first"> +
        <input type="text" v-model="last"> =
        <input type="text" v-model="fullname">
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                first: "",
                last: "",
            },
            methods:{

            },
            computed: {//计算一些属性
                'fullname': function () {//只要引用的vm中的值发生变化,就会触发函数
                    return this.first + "-" + this.last
                }
            }
        })

    </script>
</body>
</html>