<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论列表</title>
    <script src="../lib/vue.min.js" ></script>
    <script src="../lib/vue-resource.min.js" ></script>
    <link rel="stylesheet" href="../lib/bootstrap.css">
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
</head>
<body>

    <div id = "app">
        <cmt-box v-bind:list="list" ></cmt-box>
        <ul class="list-group">
        	<li class="list-group-item" v-for = "(item, i) in list" :key = "item.id">
        		<span class="badge">评论人{{ item.user}}</span>
        		{{item.content}}
        	</li>
        </ul>
    </div>

    <template id="tmpl">
        <div class="form-inline" >
            <div class="form-group ">
                <label for="">评论人:</label>
                <input type="text" class="form-group" v-model = "user">
            </div>
            <div class="form-group ">
                <label for="">评论内容:</label>
                <textarea type="text" class="form-group" v-model="content"></textarea>
            </div>
            <div class="form-group ">
                <input type="button" class="form-group btn btn-primary" value="提交" @click="postComment">
            </div>
        </div>
    </template>
    <script>

        var componentBox = {
            template : "#tmpl",
            data(){
                return {
                    user: "", content: ""
                }
            },
            methods: {
                postComment(){
                    var comment = {id: Date.now(), user: this.user, content: this.content}
                    this.list.push(comment)
                    this.user = ""
                    this.content = ""
                }
            },
            props: ['list'],
        }
        var  vm = new Vue({
            el: "#app",
            data: {
                list:[
                    {id: Date.now(), user: "李白", content: "天生我材必有用"},
                    {id: Date.now(), user: "杜甫", content: "独钓寒江雪"},
                    {id: Date.now(), user: "辛弃疾", content: "笑谈渴饮匈奴血"}

                ]
            },
            methods:{
                getAllComment(){
                    this.$http.get()
                }
            },
            components: {
                'cmt-box': componentBox,
            },
            created(){
                this.getAllComment()
            }
        })
    </script>
</body>
</html>